<!DOCTYPE html>
<html>
  <head>
     
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topdiv">
  <h1>Abhishek Aravindan</h1>
  <p>Associate Software Engineer</p>
</div>
<div class="linkdiv">
  <%= link_to "About Me", '#' %> /
  <%= link_to "My Works", '#' %> /
  <%= link_to "Contact Me", '#' %>
</div>
    <%= yield %>
  </body>
</html>
